# # Get these from your Supabase Dashboard → Settings → API
# SUPABASE_URL=https://hhnmklifwgpzgigqehgj.supabase.co
# SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imhobm1rbGlmd2dwemdpZ3FlaGdqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU3NTA2NzQsImV4cCI6MjA5MTMyNjY3NH0.GS6GZQ7fVEj1HFbFgW4eFZyXZUldO0QQrFGCHitupk0
